<div class="row">
    <div class="span8" style="text-align:center;">
        <h1>Current Expenses</h1>
    </div>
</div>

<div class="row" style="margin-bottom:10px">

    <div class="span4" style="text-align:center;">
        <div id="expenseGraphContainer" style="height:400px;width:100%;">
        </div>

        <button class="btn btn-large btn-danger">Payout</button>
    </div>


    <div class="span4">
        <script type="text/x-handlebars">
            {{#view App.summaryTableView class="table table-bordered" tagName="table"}}
            <thead>
                <tr>
                    <td></td>
                    {{#each people}}
                        <td>{{name}}</td>
                    {{/each}}
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Paid</td>
                    {{#each people}}
                    <td>${{paidString}}</td>
                    {{/each}}
                </tr>

                <tr>
                    <td>Payout</td>
                    {{#each people}}
                        {{#if inDebt}}
                            <td><span class="label label-important">${{absOweString}}</span></td>
                         {{else}}
                            <td><span class="label label-success">${{absOweString}}</span></td>
                        {{/if}}
                    {{/each}}
                </tr>
            </tbody>
            {{/view}}
        </script>

        <div style="display:table;margin-right:auto;margin-left:auto;text-align:center;">
            <h3>Expenses</h3>

            <script type="text/x-handlebars">
            {{#view App.expenseTableView class="table" tagName="table"}}
                <thead>
                <tr>
                    <td>
                        Date
                    </td>

                    <td>
                        Payer
                    </td>

                    <td>
                        Amount
                    </td>

                    <td>
                        Comment
                    </td>
                </tr>
                </thead>

                <tbody>
                    {{#each content}}
                    <tr>
                        <td>{{timeStampString}}</td>
                        <td>{{user}}</td>
                        <td>${{amount}}</td>
                        <td>{{comment}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            {{/view}}
            </script>
        </div>
    </div>
</div>

<div class="row">
    <div class="span8" style="text-align:center;">

        <script type="text/x-handlebars">
            {{#view App.expenseFormView class="form-inline" tagName="form"}}
                {{view App.expenseForm.nameSelectorView id="formPayer"}}
                ${{view App.expenseForm.amountView id="formAmount" }}
                {{view App.expenseForm.commentView }}
                {{view App.expenseForm.submitView tagName="input" class="btn btn-primary" }}
            {{/view}}
        </script>

    </div>
</div>

<div class="row">
    <script type="text/x-handlebars">
    {{#view App.formAlertView class="span3 offset3 alert alert-error"}}
        Unable to submit expense:
        <ul>
            {{#each errors}}
                <li>{{ this }}</li>
            {{/each}}
        </ul>
    {{/view}}
    </script>
</div>
