<div class="row">
    <div class="span8" style="text-align:center;">
        <h1>Current Expenses</h1>
    </div>
</div>

<div class="row" style="margin-bottom:10px">

    <div class="span4" style="text-align:center;">
        <div id="expenseGraphContainer" style="height:400px;width:100%;">
        </div>

        <button class="btn btn-large btn-danger">Payout</button>
    </div>


    <div class="span4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td></td>
                    <td>Aaron</td>
                    <td>Andy</td>
                    <td>Barry</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Paid</td>
                    <td>$50</td>
                    <td>$10</td>
                    <td>$60</td>
                </tr>

                <tr>
                    <td>Payout</td>
                    <td><span class="label label-success">$10</span></td>
                    <td><span class="label label-important">$30</span></td>
                    <td><span class="label label-success">$20</span></td>
                </tr>
            </tbody>
        </table>

        <div style="display:table;margin-right:auto;margin-left:auto;text-align:center;">
            <h3>Expenses</h3>

            <table class="table">
                <thead>
                <tr>
                    <td>
                        Date
                    </td>

                    <td>
                        Payer
                    </td>

                    <td>
                        Amount
                    </td>

                    <td>
                        Comment
                    </td>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>
                        6/13/12
                    </td>

                    <td>
                        Aaron
                    </td>

                    <td>
                        $34.93
                    </td>

                    <td>
                        Electric bill
                    </td>
                </tr>

                <tr>
                    <td>
                        6/11/12
                    </td>

                    <td>
                        Aaron
                    </td>

                    <td>
                        $15.07
                    </td>

                    <td>
                        Gas bill
                    </td>
                </tr>

                <tr>
                    <td>
                        6/10/12
                    </td>

                    <td>
                        Barry
                    </td>

                    <td>
                        $60.00
                    </td>

                    <td>
                        Groceries
                    </td>
                </tr>

                <tr>
                    <td>
                        6/9/12
                    </td>

                    <td>
                        Andy
                    </td>

                    <td>
                        $10.00
                    </td>

                    <td>
                        Groceries
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="span8" style="text-align:center;">

        <form class="form-inline" action="">
            <select id="payer" name="payer" style="width:80px;">
                <option>Aaron</option>
                <option>Andy</option>
                <option>Barry</option>
            </select>

            <input id="amount" type="number" name="amount" min=".01" style="width:50px;" />

            <input id="comment" type="text" name="comment" placeholder="Comment" />

            <button type="submit" class="btn btn-primary">Expense</button>
        </form>
    </div>
</div>
