<div class="row">
    <div class="span4 offset4" style="text-align:center;">
        <h1>Expenses</h1>
    </div>
</div>

<div class="row" style="margin-bottom:5px;">
    <div class="span4 offset4">
        <script type="text/x-handlebars">
            <div class="btn-group" style="display:table;margin-left:auto;margin-right:auto;">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    {{App.timeSpanController.selectedOrDefault.fromStringLong}} - {{App.timeSpanController.selectedOrDefault.toStringLong}}
                    <span class="caret"></span>
                </a>
                <table class="table dropdown-menu">
                    <thead>
                        <tr>
                            <td>From</td>
                            <td>To</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each App.timeSpanController.timeSpans }}
                            {{#view App.timeSpanView contentBinding="this" tagName="tr" }}
                                <td>{{content.fromStringLong}}</td>
                                <td>{{content.toStringLong}}</td>
                                <td><button {{action "select" on="click"}} class="btn btn-primary">Select</button></td>
                            {{/view}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </script>
    </div>
</div>

<div class="row" style="margin-bottom:10px">

    <div class="span4" style="text-align:center;">
        <div id="expenseGraphContainer" style="height:400px;width:100%;">
        </div>
    </div>


    <div class="span4">
        <script type="text/x-handlebars">
            {{#view App.summaryTableView class="table table-bordered" tagName="table"}}
            <thead>
                <tr>
                    <td></td>
                    <td>Paid</td>
                    <td>Payout</td>
                </tr>
            </thead>

            <tbody>
                {{#each people}}
                    <tr>
                        <td>{{fullName}}</td>
                        <td>${{paidForPayoutString}}</td>
                        <td>
                            {{#if inDebtForPayout}}
                                <span class="label label-important">${{absOweForPayoutString}}</span>
                            {{else}}
                                <span class="label label-success">${{absOweForPayoutString}}</span>
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
            {{/view}}
        </script>
        <div id="expenseFormWrapper" style="margin-bottom:5px;">
            <div style="text-align:center; border-bottom:2px solid lightgray;"><h3>New Expense</h3></div>

            <script type="text/x-handlebars">
                {{#view App.expenseFormView class="form-vertical" tagName="form"}}
                    <label class="control-label" for="formAmount">Amount:</label>
                    ${{view App.expenseFormControls.amountView id="formAmount" }}

                    <label class="control-label" for="formComment">Comment:</label>
                    {{view App.expenseFormControls.commentView id="formComment" }}

                    <div style="text-align:center;">
                        {{view App.expenseFormControls.submitView tagName="input" class="btn btn-primary" }}
                        {{view App.expenseFormControls.cancelView tagName="input" class="btn" }}
                    </div>
                {{/view}}
            </script>

            <script type="text/x-handlebars">
                {{#view App.formAlertView class="alert alert-error"}}
                Unable to submit expense:
                <ul>
                    {{#each errors}}
                    <li>{{ this }}</li>
                    {{/each}}
                </ul>
                {{/view}}
            </script>
        </div>

        <div style="text-align:center;">
            <script type="text/x-handlebars">
                {{#view App.payoutView tagName="button" class="btn btn-large btn-danger"}}Payout{{/view}}
            </script>
        </div>
    </div>

    <div class="span4" style="text-align:center;">
        <script type="text/x-handlebars">
            {{#view App.expenseTableView class="table table-striped" tagName="table"}}
                <thead>
                    <tr>
                        <td>Date</td>
                        <td>Payer</td>
                        <td>Amount</td>
                        <td>Comment</td>
                    </tr>
                </thead>

                <tbody>
                    {{#each content}}
                        <tr>
                            <td>{{timeStampString}}</td>
                            <td>{{payerString}}</td>
                            <td>${{amountString}}</td>
                            <td>{{comment}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            {{/view}}
        </script>

        <ul class="pager">
            <script type="text/x-handlebars">
                {{#view App.pagerViews.newer tagName="li" class="previous"}}
                    <a href="#">&larr; Newer</a>
                {{/view}}

                {{#view App.pagerViews.older tagName="li" class="next"}}
                    <a href="#">Older &rarr;</a>
                {{/view}}
            </script>
        </ul>
    </div>
</div>
