<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#expensesOverview" data-toggle="tab">Current</a></li>
        <li><a href="#pastExpenses" data-toggle="tab">Expenses</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="expensesOverview">
            <%- partial("indexPartials/current") %>
        </div>
        <div class="tab-pane" id="pastExpenses">
            <%- partial("indexPartials/expenses") %>
        </div>
    </div>
</div>
