<div class="row">
    <div class="span4 offset4" style="text-align:center;">
        <h1>Current Expenses</h1>
    </div>
</div>

<div class="row" style="margin-bottom:10px">

    <div class="span4" style="text-align:center;">
        <div id="expenseGraphContainer" style="height:400px;width:100%;">
        </div>

        <button class="btn btn-large btn-danger">Payout</button>
    </div>


    <div class="span4">
        <script type="text/x-handlebars">
            {{#view App.summaryTableView class="table table-bordered" tagName="table"}}
            <thead>
            <tr>
                <td></td>
                {{#each people}}
                    <td style="text-align:center;">{{name}}</td>
                {{/each}}
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Paid</td>
                {{#each people}}
                    <td style="text-align:center;">${{paidString}}</td>
                {{/each}}
            </tr>

            <tr>
                <td>Payout</td>
                {{#each people}}
                    <td  style="text-align:center;">
                        {{#if inDebt}}
                            <span class="label label-important">${{absOweString}}</span>
                        {{else}}
                            <span class="label label-success">${{absOweString}}</span>
                        {{/if}}
                    </td>
                {{/each}}
            </tr>
            </tbody>
            {{/view}}
        </script>
        <div id="expenseFormWrapper">
            <script type="text/x-handlebars">
                {{#view App.expenseFormView class="form-vertical" tagName="form"}}
                    <label class="control-label" for="formPayer">Payer:</label>
                    {{view App.expenseFormControls.nameSelectorView id="formPayer"}}

                    <label class="control-label" for="formAmount">Amount:</label>
                    ${{view App.expenseFormControls.amountView id="formAmount" }}

                    <label class="control-label" for="formComment">Comment:</label>
                    {{view App.expenseFormControls.commentView id="formComment" }}

                    <div style="text-align:center;">
                        {{view App.expenseFormControls.submitView tagName="input" class="btn btn-primary" }}
                        {{view App.expenseFormControls.cancelView tagName="input" class="btn" }}
                    </div>
                {{/view}}
            </script>

            <script type="text/x-handlebars">
                {{#view App.formAlertView class="alert alert-error"}}
                Unable to submit expense:
                <ul>
                    {{#each errors}}
                    <li>{{ this }}</li>
                    {{/each}}
                </ul>
                {{/view}}
            </script>
        </div>
    </div>

    <div class="span4" style="text-align:center;">
        <script type="text/x-handlebars">
            {{#view App.expenseTableView class="table table-striped" tagName="table"}}
            <thead>
                <tr>
                    <td>Date</td>
                    <td>Payer</td>
                    <td>Amount</td>
                    <td>Comment</td>
                </tr>
            </thead>

            <tbody>
                {{#each content}}
                    <tr>
                        <td>{{timeStampString}}</td>
                        <td>{{user}}</td>
                        <td>${{amount}}</td>
                        <td>{{comment}}</td>
                    </tr>
                {{/each}}
            </tbody>
            {{/view}}
        </script>

        <ul class="pager">
            <script type="text/x-handlebars">
                {{#view App.pagerViews.newer tagName="li" class="previous"}}
                    <a href="#">&larr; Newer</a>
                {{/view}}

                {{#view App.pagerViews.older tagName="li" class="next"}}
                    <a href="#">Older &rarr;</a>
                {{/view}}
            </script>
        </ul>
    </div>
</div>
