<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/current.css"/>
        <script type="text/javascript" src="/javascripts/libraries/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/javascripts/libraries/jquery.cookie.js"></script>
        <script type="text/javascript" src="/javascripts/libraries/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/libraries/bootstrap-tooltip.js"></script>
        
        <script type="text/javascript" src="/javascripts/libraries/moment.min.js"></script>
        <script type="text/javascript" src="/javascripts/libraries/flotr2.min.js"></script>
        <script type="text/javascript" src="/javascripts/libraries/ember-0.9.8.1.min.js"></script>
        <script type="text/javascript" src="/javascripts/current.js"></script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <span class="brand">
                        <span style="color:yellow;">Col</span><span>lective</span>
                        <span style="color:yellow;">Ex</span><span>penses</span>
                        <span style="color:yellow;">T</span><span>racker</span>
                    </span>

                    <form class="navbar-form pull-right">
                        <script type="text/x-handlebars">
                            {{#if App.loginController.loggedIn }}
                                <span>Welcome, {{App.loginController.loggedInUser.fullName}}</span>
                                {{view App.loginControls.logoutView tagName="input" class="btn"}}
                            {{else}}
                                <span class="input-prepend">
                                    <span class="add-on"><i class="icon-envelope"></i></span>{{view App.loginControls.emailView class="span2"}}
                                </span>
                                {{view App.loginControls.passwordView id="passwordView" class="span1"}}
                                {{view App.loginControls.submitView tagName="input" class="span1 btn btn-primary"}}
                            {{/if}}
                        </script>
                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <%- body %>
        </div>
    </body>
</html>
