<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/current.css"/>
        <script type="text/javascript" src="/javascripts/libraries/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/javascripts/libraries/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/libraries/flotr2.min.js"></script>
        <script type="text/javascript" src="/javascripts/libraries/ember-0.9.8.1.min.js"></script>
        <script type="text/javascript" src="/javascripts/index.js"></script>
        <script type="text/javascript" src="/javascripts/current.js"></script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <span class="brand"><%= title %></span>
                </div>
            </div>
        </div>


        <div class="container">
            <%- body %>
        </div>
    </body>
</html>
