#formPayer {
    width: 40%;
}

#formAmount {
    width: 18%;
}

#formComment {
    width: 90%;
}

#expenseFormWrapper {
    background-color: #2C2C2C;
    border-radius: 5px;
    padding: 5px;
    color: #999;
}
