#formComment {
    width: 90%;
}

#expenseFormWrapper {
    background-color: #2C2C2C;
    border-radius: 5px;
    padding: 5px;
    color: #999;
}

#passwordView {
    margin-bottom: 5px;
}

.brandHighlight {
    color: yellow;
}

.centerText {
    text-align: center;
}

div.centered {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#expenseGraphContainer {
    height: 400px;
    width: 100%;
}

.bottomMargin {
    margin-bottom: 5px;
}

.bottomDivider {
    border-bottom: 2px solid #FFFFFF;
    margin-bottom: 5px;
}

.miniTimeSpan {
    height: 50px;
    width: 75%;
    border-radius: 5px;
    background-color: #999;
    margin-bottom: 5px;
    position: relative;
    color: white;

    -webkit-transition: width 100ms ease-in 200ms;
    -moz-transition: width 100ms ease-in 200ms;
    -o-transition: width 100ms ease-in 200ms;
    transition: width 100ms ease-in 200ms;
}

.miniTimeSpan:hover {
    cursor: pointer;
    background-color: #2C2C2C;
    width: 90%;
    -webkit-transition: width 100ms ease-in 200ms;
    -moz-transition: width 100ms ease-in 200ms;
    -o-transition: width 100ms ease-in 200ms;
    transition: width 100ms ease-in 200ms;
}

.miniTimeSpanText {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0px;
    top: 15px;
    font-size: 20px;
}
