#formPayer {
    width: 40%;
}

#formAmount {
    width: 18%;
}

#formComment {
    width: 90%;
}

#expenseFormWrapper {
    background-color: #757A7B;
    border-radius: 5px;
    padding: 5px;
    color: white;

}
